@charset "utf-8";
body{
    font-family: "맑은 고딕";,"malgun gothic",sans-serif;
}

*{margin: 0;padding: 0;}

h1{
    margin-bottom: 30px;
}
fieldset{
    padding: 36px;
    border: 3px solid red;
}
legend{
    color: red;
}
li{
    margin-bottom: 24px;
}
